HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTHPRIV

PermitRootLogin yes

PubkeyAuthentication yes
AuthorizedKeysFile	/etc/ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
# WARNING: 'UsePAM no' is not supported in Amazon Linux AMI and may cause several
# problems.
# Leaving enabled as described so that account and session checks are run
UsePAM yes

AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding no
PermitTTY no
PermitTunnel yes
AllowAgentForwarding no
ForceCommand echo 'Only tunneling is allowed'
